body{
    margin: 0;
}

ul{
    background-color: blue;
    display: flex;
    width: 100%;
    height: 20vh;
    font-size: 20px;
    padding: 0;
    margin: 0;
    li{
        list-style: none;
        text-align: center;
        flex-grow: 1;
        transition: background 400ms linear, color 400ms ease;
        a{
            color: yellow;
            font-weight: bold;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }
    li:hover{
        background: yellow;
        a{
            color: blue;
        }
    }
}

.video-box {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5rem;
    > * {
        min-width: 25%;
        max-width: 100px;
        border: 1px solid rgb(137, 236, 247);
        min-height: 350px;
        border-radius: 10px;
        box-shadow: 2px 2px 15px 5px cadetblue;

    }
    video {
        width: 100%;
    } 
   
    :not(video){
        padding: .5rem;
    }
}

.rest-box, .store-box {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5rem;
    > * {
        min-width: 25%;
        max-width: 100px;
        border: 1px solid rgb(137, 236, 247);
        min-height: 350px;
        border-radius: 10px;
        box-shadow: 2px 2px 15px 5px cadetblue;

    }
}

.rest{
    padding: 10px;
    min-height: 70vh;
    width: 100%;
    overflow: auto;
    
}

.rest-picture, .store-picture{
    max-width: 456px;
    height: 200px;
    
    
}
.img, .store-img{
    display: inline-block;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    justify-content: center;
    border-radius: 15px;
    height: 100%;
    object-fit: cover;
    
}

h3{
background-color: rgba(91, 225, 225, 0.77);
background-image: linear-gradient(to bottom right, rgb(0, 153, 255), rgb(0, 255, 242) );
border-radius: 10px;
padding: 10px;
text-align: center;
font-weight: 700;
}

.bg-secondary{
    margin-left: 5px;
    margin-bottom: 10px;
}

.rest-price, .store-price{
    font-weight: 700; 
    font-size: 12px;
}

p{
    margin-top: 5px;
    padding: 5px;
}
